body{
    max-width: 1360px;
    font-family: "Verdana", sans-serif;
    margin: 0 auto;
    
    background-image: url(./img/background.png);
    background-size: cover;
    overflow: scroll;
}
/* не понимаю как сделать что бы прозрачность не распостронялась на все обьекты + что-бы прозрычный фон не обрезался при уменьшении масшатаба  */
header{
    background-color: rgb(0, 0, 0);
    opacity: 0.4; height: 52px;
    width:100%;
    color: white;
}
.header-container{
    opacity: 1;
}
.header-logo{
    float: left;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.05;
    padding-left: 81px;
    padding-top: 17px;
}
.header-logo:hover{
    color: rgb(60, 184, 120);
}
.link-icons-item{
    display: inline-block;
}
.link-icons{
    list-style-type: none;
    position: absolute;
    margin-left: 700px;
}
.link-icons-item{
margin-left: 10px;
}
.header-icon{
    background-image: url("./img/css_sprites.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: 0s;
} 
/* не разобралась как сдлелать что бы последняя иконка не исчезала + как чделать что бы все три при увеличении масштаба не уплывали */
.bg-ic_caledar {
    width: 19px; height: 19px;
    background-position: -10px -10px;
}


.bg-ic_caledar:hover {
    width: 19px; height: 19px;
    background-position: -10px -49px;
}


.bg-ic_forum {
    width: 28px; height: 20px;
    background-position: -10px -88px;
}

.bg-ic_forum:hover {
    width: 28px; height: 20px;
    background-position: -10px -128px;
}


.bg-ic_journey {
    width: 20px; height: 20px;
    background-position:-10px -168px;
}


.bg-ic_journey:hover {
    width: 20px; height: 20px;
    background-position: 10px -208px;
}
.header-login{
    float: right;
}
a.header-link{
    text-decoration: none;
    color: rgb(60, 184, 120);
}
section{
    padding-top: 65px;
    padding-bottom: 65px;
}
.register-form{
    border:1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    
    width:444px;
    height:600px; 
    margin: 0 auto;
}
.signup-form{
 padding: 29px 16px 60px 60px;
    font-size: 20px;
    color: rgb(67, 67, 67);
  }
  
h3 {
    display: inline-block;
        font-size: 20px;
        line-height: 1.05;
        text-align: center;
        position: absolute;
        font-weight: normal;
}
.login-link{
 float: right;
 padding: 20px;
   text-decoration: none;
   font-size: 14px;
   color: rgb(60, 184, 120);
   line-height: 1.5;
}
.social-media-signup-btn{
padding-right: 60px;
padding-left: 60px;
padding-bottom: 15px;
}
.facebookbtn{
    display: inline-block;
    width: 156px;
    height: 46px;
    font-size: 16px;
    color: white;
    background-color: rgb(48, 93, 184);
    border: none;
    border-radius: 3px;
    margin-right: 8px;
}
.googlebtn{
    display: inline-block;
    width: 156px;
    height: 46px;
    font-size: 16px;
    color: white;
    background-color: rgb(223, 74, 50);
    border: none;
    border-radius: 3px;
    position: absolute;
}
.fa-facebook {
    color: white;
    float: left;
    padding-left: 20px;
}
.fa-google-plus {
    color: white;
    float: left;
    padding-left: 20px;
}
hr.style-eight {
    overflow: visible; 
    width: 320px;
    padding: 0;
    border:none;
    border-top: 1px solid lightgrey;
    color: grey;
    text-align: center;
}
hr.style-eight:after {
    content: "or";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 14px;
    padding: 0 0.60em;
    background: white;
}
.registration-form-header{
    padding: 40px;
}

.registration-form {
 padding-left: 54px;
}
.registration-input{
    display: block;
    font-size: 14px;
    margin-bottom: 9px;
    width: 322px;
    height: 45px;
    padding-left: 17px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.877);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

}
.checkbox{
    padding-top: 10px;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    width:19px;
    height:19px;
    margin: 0px 0px 5px 0px;
    background-color: transparent;
    border: 1px solid rgba(219, 214, 214, 0.774);
    border-radius: 5px;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
background-image: url(./img/checkbox.png);
}      /* КАК СДЕЛАТЬ ГАЛОЧКУ ЧТО БЫ НЕ ПОВТОРЯЛАСЬ? */
label[for='c1'] {
    font-size: 14px;
}
.terms-and-conditions{
    text-decoration: none;
    color: rgb(60, 184, 120);
    font-size: 14px;
}
.terms-and-conditions:hover{
    color: rgb(40, 117, 78);
    font-size: 14px;
    border-bottom: 1px solid  rgb(40, 117, 78);
}
.clearfix{
    padding-top: 20px;
    padding-left: 4.5px;
}
.signupbtn{
    width: 322px;
    height: 45px;
    background-color:rgb(60, 184, 120);
    border-radius: 5px;
    border-color: 1px solid rgb(60, 184, 120);
    border: thick;
    color: white;
    font-size: 16px;
    
}