body {
    background-image: url(./img/background.jpg) ;
    width: auto;

}
.episode-nmb{
    color: rgb(255, 208, 0);
    font-size: 28px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 30px;

}
.episode-name{
    color: rgb(255, 208, 0);
    font-size: 48px;
    font-family: Arial, sans-serif;
    padding-bottom: 30px;
    font-weight: bold;
}
.description {
    color:rgb(255, 208, 0);
    font-size: 36px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: justify;
    font-weight: bold;
}
#titles{
position: absolute;
width: 40em;
height: 50em;
bottom: 0%;
left: 30%;
text-align: center;

-webkit-transform: perspective(300px) rotateX(25deg);
transform: perspective(300px) rotateX(25deg);
}
#titles::after{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    pointer-events: none;

}
.container{
    position: absolute;
    top: 100%;
    -webkit-animation: scroll 60s linear;
    animation: scroll 60s linear;
}
.container:hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
/* animation */
@-webkit-keyframes scroll{
    0% { top: 100%; }
    100% { top: -150%; }
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: -150%; }
}